{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block bodyt %}
<div class="content">
    <!-- Hero section -->
    <header class="hero text-center">
        <h1>Dagmara & Maciek</h1>
        <p class="lead">serdecznie zapraszają na swój ślub i wesele</p>
    </header>

    <!-- Main content -->
    <main class="container text-center py-5">
        <p class="date">Sobota, 20 czerwca 2026</p>
        <p>Sielanka Arciszewo</p>

        <br>

        <div class="text-center my-5">
            <h3 class="section-title">Kochani Goście</h3>
            <p class="guest-text mx-auto">
                Z radością informujemy, że już niedługo powiemy sobie „tak”.
                Chcielibyśmy, abyście towarzyszyli nam w tym wyjątkowym dniu pełnym miłości,
                wzruszeń i wspólnej zabawy do białego rana!
            </p>
        </div>


        <!-- Buttons -->
        <div class="mt-4">
            <a href="/schedule" class="btn btn-wedding">📅 Harmonogram Dnia</a>
            <a href="/info" class="btn btn-wedding">ℹ️ Informacje dla Gości</a>
            <a href="/gallery" class="btn btn-wedding">📸 Galeria</a>
        </div>
    </main>

    <br>

    <footer class="text-center py-4" style="background-color:#fbe9e7;">
        <small>© 2026 Dagmara i Maciek — Z miłością stworzona strona ślubna 💕</small>
    </footer>
</div>

{% endblock %}